In [9]:
import pandas as pd
import re

In [21]:
df = pd.read_csv("~/daft.ie_dataengineering_and_analysis/daft.ie_dataengineering_and_analysis/include/data_v1.csv")

In [11]:
df['COUNTY'] = df.Location.apply(lambda x : re.split('[._]', x)[-1])

In [22]:
df

,Num,ID,Location,SearchType,PropertyType,TITLE,AGENT_ID,AGENT_BRANCH,AGENT_NAME,AGENT_SELLER_TYPE,BATHROOMS,BEDROOMS,BER,CATEGORY,MONTHLY_PRICE,PRICE,LATITUDE,LONGITUDE,PUBLISH_DATE
0,0,5391632,Location.ABBEY_GALWAY,SearchType.RESIDENTIAL_SALE,PropertyType.BUNGALOW,"Duniry, Kylebrack, Loughrea, Co. Galway",11192,Sherry Fitzgerald Madden,Niamh Madden,BRANDED_AGENT,1 Bath,4 Bed,D2,Buy,210000,"€210,000",53.134064,-8.406501,2023-09-12 12:05:18
1,1,4625533,Location.ABBEY_GALWAY,SearchType.RESIDENTIAL_SALE,PropertyType.SITE,"Feagh, Duniry, Loughrea, Co. Galway",1216,Keary Auctioneering and Insurances,Kenneth Keary,UNBRANDED_AGENT,N.A.,N.A.,N.A.,Buy,40000,"€40,000",53.136217,-8.392197,2023-09-04 10:14:16
2,2,5391632,Location.ABBEY_GALWAY,SearchType.COMMERCIAL_RENT,PropertyType.BUNGALOW,"Duniry, Kylebrack, Loughrea, Co. Galway",11192,Sherry Fitzgerald Madden,Niamh Madden,BRANDED_AGENT,1 Bath,4 Bed,D2,Buy,210000,"€210,000",53.134064,-8.406501,2023-09-12 12:05:18
3,3,4625533,Location.ABBEY_GALWAY,SearchType.COMMERCIAL_RENT,PropertyType.SITE,"Feagh, Duniry, Loughrea, Co. Galway",1216,Keary Auctioneering and Insurances,Kenneth Keary,UNBRANDED_AGENT,N.A.,N.A.,N.A.,Buy,40000,"€40,000",53.136217,-8.392197,2023-09-04 10:14:16
4,4,5385687,Location.ABBEYDORNEY_KERRY,SearchType.RESIDENTIAL_SALE,PropertyType.HOUSE,"Leith East, Tralee, Co. Kerry",6843,Gary O'Driscoll & Co Ltd,Gary O'Driscoll B.Sc. MIPAV MCEI,UNBRANDED_AGENT,5 Bath,6 Bed,B3,Buy,495000,"€495,000",52.318023,-9.647175,2023-09-12 09:08:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13927,13927,5399465,Location.ARLESS_LAOIS,SearchType.COMMERCIAL_RENT,PropertyType.SEMI_DETACHED_HOUSE,"13 Sruth na Ghleanna, Kileshin, Carlow Town, C...",2908,Kehoe Auctioneers,Eoin Kehoe,BRANDED_AGENT,3 Bath,4 Bed,A2,Buy,355000,"€355,000",52.849403,-6.987436,2023-09-12 12:05:22
13928,13928,3486522,Location.ARLESS_LAOIS,SearchType.COMMERCIAL_RENT,PropertyType.SITE,"2.86 Acres At, Keelogue, Killeshin, Carlow, Ca...",2534,Sherry FitzGerald McDermott,James McDermott,BRANDED_AGENT,N.A.,N.A.,N.A.,Buy,70000,"€70,000",52.845457,-7.020683,2023-09-12 12:04:03
13929,13929,5382256,Location.ARLESS_LAOIS,SearchType.COMMERCIAL_RENT,PropertyType.RETAIL_UNIT,"Killeshin Stores, Killeshin, Co. Laois",2261,REA Sothern,Harry Sothern,BRANDED_AGENT,N.A.,N.A.,B2,Commercial,425000,"€425,000",52.849654,-6.995115,2023-08-23 14:04:23.093000
13930,13930,5369856,Location.ARLESS_LAOIS,SearchType.SHARING,PropertyType.HOUSE,"Bruach Na Habhainn, Killeen",10158,Dublin Host Families,Jason Denton,UNBRANDED_AGENT,N.A.,Single & Double Room,SI_666,Share,525,From €525 to €625 per month,52.905165,-6.967325,2023-09-12 11:20:36.738000
13931,13931,5369856,Location.ARLESS_LAOIS,SearchType.STUDENT_ACCOMMODATION,PropertyType.HOUSE,"Bruach Na Habhainn, Killeen",10158,Dublin Host Families,Jason Denton,UNBRANDED_AGENT,N.A.,Single & Double Room,SI_666,Share,525,From €525 to €625 per month,52.905165,-6.967325,2023-09-12 11:20:36.738000

In [12]:
df['COUNTY'].unique()

array(['GALWAY', 'KERRY', 'LIMERICK', 'LONGFORD', 'LAOIS', 'MAYO',
       'SLIGO', 'DUBLIN', 'WEXFORD', 'CORK', 'MONAGHAN', 'LEITRIM',
       'DERRY', 'FERMANAGH', 'WATERFORD', 'OFFALY', 'TIPPERARY',
       'KILDARE', 'ROSCOMMON', 'DONEGAL', 'CLARE', 'DOWN', 'LOUTH',
       'WICKLOW', 'ANTRIM', 'WESTMEATH', 'MEATH', 'CARLOW', 'CAVAN'],
      dtype=object)

In [13]:
df['SaleType'] = df.SearchType.apply(lambda x : x.split('.')[-1])

In [14]:
df['PropertyType'] = df.PropertyType.apply(lambda x : x.split('.')[-1])

In [15]:
pd.set_option('display.max_columns', None)
df.rename(columns={"TITLE": "ADDRESS"}, inplace = True)

In [19]:
df = df[['ID', 'ADDRESS', 'COUNTY', 'SaleType', 'PropertyType', 'BATHROOMS', 'BEDROOMS', 'BER', 'CATEGORY', 'MONTHLY_PRICE', 'PRICE', 'LATITUDE', 'LONGITUDE', 'PUBLISH_DATE', 'AGENT_ID', "AGENT_BRANCH", "AGENT_NAME", "AGENT_SELLER_TYPE"]]

In [20]:
df.to

,ID,ADDRESS,COUNTY,SaleType,PropertyType,BATHROOMS,BEDROOMS,BER,CATEGORY,MONTHLY_PRICE,PRICE,LATITUDE,LONGITUDE,PUBLISH_DATE,AGENT_ID,AGENT_BRANCH,AGENT_NAME,AGENT_SELLER_TYPE
0,5391632,"Duniry, Kylebrack, Loughrea, Co. Galway",GALWAY,RESIDENTIAL_SALE,BUNGALOW,1 Bath,4 Bed,D2,Buy,210000,"€210,000",53.134064,-8.406501,2023-09-12 12:05:18,11192,Sherry Fitzgerald Madden,Niamh Madden,BRANDED_AGENT
1,4625533,"Feagh, Duniry, Loughrea, Co. Galway",GALWAY,RESIDENTIAL_SALE,SITE,N.A.,N.A.,N.A.,Buy,40000,"€40,000",53.136217,-8.392197,2023-09-04 10:14:16,1216,Keary Auctioneering and Insurances,Kenneth Keary,UNBRANDED_AGENT
2,5391632,"Duniry, Kylebrack, Loughrea, Co. Galway",GALWAY,COMMERCIAL_RENT,BUNGALOW,1 Bath,4 Bed,D2,Buy,210000,"€210,000",53.134064,-8.406501,2023-09-12 12:05:18,11192,Sherry Fitzgerald Madden,Niamh Madden,BRANDED_AGENT
3,4625533,"Feagh, Duniry, Loughrea, Co. Galway",GALWAY,COMMERCIAL_RENT,SITE,N.A.,N.A.,N.A.,Buy,40000,"€40,000",53.136217,-8.392197,2023-09-04 10:14:16,1216,Keary Auctioneering and Insurances,Kenneth Keary,UNBRANDED_AGENT
4,5385687,"Leith East, Tralee, Co. Kerry",KERRY,RESIDENTIAL_SALE,HOUSE,5 Bath,6 Bed,B3,Buy,495000,"€495,000",52.318023,-9.647175,2023-09-12 09:08:57,6843,Gary O'Driscoll & Co Ltd,Gary O'Driscoll B.Sc. MIPAV MCEI,UNBRANDED_AGENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13927,5399465,"13 Sruth na Ghleanna, Kileshin, Carlow Town, C...",LAOIS,COMMERCIAL_RENT,SEMI_DETACHED_HOUSE,3 Bath,4 Bed,A2,Buy,355000,"€355,000",52.849403,-6.987436,2023-09-12 12:05:22,2908,Kehoe Auctioneers,Eoin Kehoe,BRANDED_AGENT
13928,3486522,"2.86 Acres At, Keelogue, Killeshin, Carlow, Ca...",LAOIS,COMMERCIAL_RENT,SITE,N.A.,N.A.,N.A.,Buy,70000,"€70,000",52.845457,-7.020683,2023-09-12 12:04:03,2534,Sherry FitzGerald McDermott,James McDermott,BRANDED_AGENT
13929,5382256,"Killeshin Stores, Killeshin, Co. Laois",LAOIS,COMMERCIAL_RENT,RETAIL_UNIT,N.A.,N.A.,B2,Commercial,425000,"€425,000",52.849654,-6.995115,2023-08-23 14:04:23.093000,2261,REA Sothern,Harry Sothern,BRANDED_AGENT
13930,5369856,"Bruach Na Habhainn, Killeen",LAOIS,SHARING,HOUSE,N.A.,Single & Double Room,SI_666,Share,525,From €525 to €625 per month,52.905165,-6.967325,2023-09-12 11:20:36.738000,10158,Dublin Host Families,Jason Denton,UNBRANDED_AGENT
13931,5369856,"Bruach Na Habhainn, Killeen",LAOIS,STUDENT_ACCOMMODATION,HOUSE,N.A.,Single & Double Room,SI_666,Share,525,From €525 to €625 per month,52.905165,-6.967325,2023-09-12 11:20:36.738000,10158,Dublin Host Families,Jason Denton,UNBRANDED_AGENT